extends main
include apartmentCard


mixin displayApartment(apartment)

  li(style='background-image: url(images/mooveX.jpg);')
    .container-fluid
      .row
        .col-md-4.col-md-offset-4.col-md-pull-4.js-fullheight.slider-text
          .slider-text-inner
            .desc
              a(href= `/${apartment.slug}`)
                if apartment.type==='building'
                  span.status For Sale 
                else
                  span.status Rent
                h1= apartment.location.description
                h2.price $ #{apartment.price}
                p #{apartment.description}
                p.details
                  span 2000 ft sq
                  span #{apartment.roomspaces} Bedrooms Available
                  if apartment.specifications.bathrooms || apartment.specifications.garage
                    span #{apartment.specifications.bathrooms} Bathrooms
                    span #{apartment.specifications.garage} Garage
                  else
                    span Check this out
                p
                  a.btn.btn-primary.btn-lg(href='#') Learn More


block content
  aside#fh5co-hero.js-fullheight
    .flexslider.js-fullheight
      ul.slides
        each apartment in apartments.slice(-3)
          +displayApartment(apartment)

      
  
  #fh5co-popular-properties.fh5co-section-gray
    .container
      .row
        .col-md-8.col-md-offset-2.text-center.heading-section.animate-box
          h3 Apartments closest to you
          p apartments with the best reviews and Most Affordable
          
      .row
        .col-md-4.animate-box
          each apartment in apartments
            +apartmentCard(apartment)
          span 
            a(href='/apartments') check all our apartments...
